<h1>Editing mainpage</h1>

<% form_for(@mainpage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @mainpage %> |
<%= link_to 'Back', mainpages_path %>